.shearchBar{
    width: 100%;
    height: 70px;
    position: relative;
    bottom: 70px;
    left: -20%;
    }


    :root{
        --WInpute1:83.5%;
        --treanslateX:0;
        --LeftIcon1:44%;
        --BGCLicon:rgb(8, 172, 248);
        --WidthIcon1:55px;
        --WPart1:440px;
        --BGCP1:rgb(84, 81, 81);
        --HFpart1:50px;
        --LeftPart1:40%;
        --Broder-Raduis:8px;
        --WIcon2:15%;
    }

    .Part1{
        
        background-color:var(--BGCP1);
        width: 0px;
        height: var(--HFpart1);
        border-radius: var(--Broder-Raduis);
        position: relative;
        top: 5px;
        transform-origin: left;
        left: 49%;
        transition: width .5s , height .5s , left .5s;
        cursor:pointer;
        text-align: left;
        padding: 0;
    }
    @media (max-width:800px) {
        .Part1{
            --WPart1:340px;
            --LeftPart1:30%;
            --WInpute1:75%;
            --WIcon2:20%;
        }
    }

    .icon-img{
        border-radius: 5px;
        display: block;
        position:relative;
        width: var(--WidthIcon1);
        height: 55px;
        transform: translateX(var(--treanslateX));
        position: relative;
        background-color: var(--BGCLicon);
        right: 2px;
        margin: 0;
        z-index: 1;
        cursor: pointer;
        opacity: 1;
        transition:transform .5s  , background-color .5s  , width .1s .2s,height .1s .2s;
    }
    .icon-img:hover + .Part1  , .Part1:hover {
        width: var(--WPart1);
        transform-origin: left;
        height:var(--HFpart1);
        left: 30%;
        opacity: 1;
    }

    .Part1:hover > .icon-img {
        --treanslateX:calc(calc(var(--WPart1) - var(--WidthIcon1)) + 9px);
        --BGCLicon:rgb(27, 75, 197);
        border-top-right-radius: var(--Broder-Raduis);
        border-bottom-right-radius: var(--Broder-Raduis);
        width: var(--WIcon2);
        height: 100%;
    }
    .input-sarch{
        display: inline;
        width: var(--WInpute1);
        height: 80%;
        position: absolute;
        top:7%;
        left: 2%;
        border-radius: var(--Broder-Raduis);
        background-color:var(--BGCP1);
        border: none !important;
        font-size: 22px;
        color: rgb(255, 255, 255);
    }
    .input-sarch:focus{
        outline: none !important;
    }

.lesdiffchois{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    select{
        font-size: 21px;
        width: calc(var(--WidthIcon1)*2.5);
        height: 55px;
        padding: 10px;
        text-align:center;
        margin: auto;
        border-radius: 5px;
        
        cursor: pointer;
        background-color: rgb(255, 132, 0);
        color: white;
        font-weight: bold;
        option{
            background-color: rrgb(255, 85, 0)   ;
            width: 200px;
        }
    }
    select:focus{
        outline: none !important;
    }
}